<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Lightning Talk</title>
        <link rel="stylesheet" th:href="@{/css/home.css}"/>
    </head>
    <body>
        <h1>Upcoming Talks</h1>

        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="talk : ${upcoming}">
                    <td><span th:text="${talk.topic}"> Topic </span></td>
                    <td><span th:text="${talk.description}"> Description </span></td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/submission}">
            <div>
                <button type="submit">Submit a new topic</button>
            </div>
        </a>

    </body>
</html>